<%- include('partials/header.ejs') %>
<div class="blog-place">
    <div class="blog-border">
        <h1 id="h1-latest">Latest Post</h1>
        <form action="/add" method="get">
            <button class="add-post" name="add" type="submit">Add Post</button>
        </form>
        
    </div>
    <div class="container">
        
        <div id="item2">
            <div class="blog-body">
                <% if (locals.posts) {
                    for(i=0;i < posts.length; i++) {%>
                
                <h3 style="margin-top: 10px; "><%=posts[i]['title'] %></h3>
                <p><%= posts[i]['description'].slice(0,100) %> ...</p>
                <form class="button" action="/test" method="post">
                    <button id="edit_button" value="<%= posts[i]['id']%>" name="updateButton">Update</button>
                </form>
                <form class="button" action="/post/delete" method="post">    
                    <button id="delete_button" name="deleteButton" value="<%= posts[i]['id'] %>">Delete</button>
                </form>
                <h1 style="border-top: 1px solid; margin-top: 2px;"></h1>
                <% } 
                }else {%>
                <h2>Oops! We don’t have any posts. You must write one! Press the button on the right!</h2>
                <h1 style="border-top: 1px solid; margin-top: 15px;"></h1>

                <% }%>

            </div>
        </div>
    </div>
    
   
</div>

<%- include('partials/footer.ejs') %>